.footer__box {
  padding-top: 25px;
  padding-bottom: 25px;
  background: rgb(247, 247, 247);
  border-top: 1px solid #dddddd;
  margin-top: 30px;
}

@media screen and (max-width: 743px) {
  .footer__box {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 744px) {
  .footer__box {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1128px) {
  .footer__box {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 1281px) {
  .footer__box {
    padding-left: 160px;
    padding-right: 160px;
  }
}
