.main__header {
  height: max(
    550px,
    min(85vh, calc(var(--hc-lg-height, 9) / var(--hc-lg-width, 16) * 100vw))
  ) !important ;
  width: 100%;
}

.header__background-box {
  position: absolute;
  width: 100%;
  height: inherit;
  z-index: -1;
}

.header__background {
  width: 100%;
  height: inherit;
  background: url("/image/background.webp");
  background-size: 100% 100%;
}

.header__contents {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__contents-box {
  display: flex;
  flex-direction: column;
  row-gap: var(--rem-1-5);
  align-items: center;
}

.header__title {
  text-align: center;
}

.header__button {
  border-radius: 30px;
  outline: none;
  background: #fff;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;
  transition: box-shadow ease-in-out 0.2s, transform ease-in-out 0.1s;
  padding: 14.5px 32px;
}

.header__button:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 9px 3px;
}

.header__button:active {
  transform: scale(0.95, 0.95);
}

.header-button__text {
  font-weight: bold;
  font-size: 1.1rem;
  background-clip: text;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media screen and (min-width: 1128px) {
  .header__contents {
    padding: 186px 80px 40px !important;
  }
}

@media screen and (min-width: 950px) {
  .header__contents {
    padding: 191px 40px 45px !important;
  }
}

@media screen and (min-width: 744px) {
  .header__button {
    padding: 22px 56px !important;
  }
}
