.hosting {
  position: relative;
  margin-top: 20px;
}

.hosting__img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-position: 50% 50%;
  vertical-align: bottom;
}

.hosting__box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hosting__contents-box {
  display: flex;
  height: 100%;
  width: 100%;
}

.hosting__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.hosting__title {
  color: #fff;
  font-size: 3em;
}

.hosting__desc {
  padding-top: 0.5rem;
  color: #fff;
  line-height: 1.3em;
  word-break: keep-all;
}

.hosting__button {
  margin-top: 40px;
  border-radius: 7px;
  font-size: 1em;
  outline: none;
  border: none;
  font-weight: bold;
}

@media screen and (min-width: 0px) {
  .hosting__title {
    font-size: 1.8em;
  }
  .hosting__button {
    margin-top: 20px;
    padding: 7px 15px;
  }
}

@media screen and (max-width: 743px) {
  .hosting {
    min-width: 220px;
  }
  .padding-top {
    padding-top: 125%;
  }
  .hosting__contents-box {
    position: absolute;
    top: 0;
  }
  .hosting__contents {
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    padding: 32px;
  }

  .hosting__desc {
    text-align: center;
  }
}

@media screen and (min-width: 744px) {
  .hosting {
    height: 360px;
  }
  .hosting__button {
    margin-top: 40px;
  }
  .hosting__contents {
    padding-right: 40px;
    padding-left: 40px;
    width: 360px;
  }
}

@media screen and (min-width: 1128px) {
  .hosting {
    height: 400px;
  }
  .hosting__button {
    padding: 15px 25px;
  }
  .hosting__contents {
    width: 500px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .hosting__title {
    font-size: 3em;
  }
}

@media screen and (min-width: 1440px) {
  .hosting {
    height: 480px;
  }
}
